@page "/user"

<CardDeck>
    <Card Style="width: 350px;">
        <CardHeader Class="text-left">
            <h4>Dane konta</h4>
        </CardHeader>
        <CardBody>
            <Field>
                <FieldLabel>Imię i Nazwisko:</FieldLabel>
                <FieldLabel>Jan Kowalski</FieldLabel>
            </Field>
            <Field>
                <FieldLabel>Adres email:</FieldLabel>
                <FieldLabel>abc@gmail.com</FieldLabel>
            </Field>
            <Field>
                <FieldLabel>Numer telefonu:</FieldLabel>
                <FieldLabel>555-555-555</FieldLabel>
            </Field>
            <Field>
                <FieldLabel>Numer konta:</FieldLabel>
                <FieldLabel>43 0021 2010 3320 4032 1234 9876</FieldLabel>
            </Field>
        </CardBody>
    </Card>
    <Card Style="width: 350px;">
        <CardHeader Class="text-left">
            <h4>Zmień hasło</h4>
        </CardHeader>
        <CardBody>
            <Field>
                <TextEdit Placeholder="Obecne hasło*" />
            </Field>
            <Field>
                <TextEdit Placeholder="Nowe hasło*" />
            </Field>
            <Button Color="Color.Primary" Class="btn-block mt-4">Zmień hasło</Button>
        </CardBody>
    </Card>
</CardDeck>
