@page "/password/recovery"

<h1>
    Odzyskiwanie hasła
</h1>

<Text >
    Aby przypomnieć hasło wpisz adres email, na który zostanie wysłana wiadomość do zmiany hasła.
</Text>

<TextEdit Width="Width.Is50" Placeholder="Wpisz adres email" />

<Button Color="Color.Primary" Class="btn-block mt-4" Width="Width.Is50">Przypomnij hasło</Button>

