@page "/login"
@using CarDealerAppClient.ViewModels.Login;
@inject ILoginViewModel viewModel

<Container Class="d-flex justify-content-center align-items-center" Style="height: 50vh;">
    <CardDeck>
        <Card Style="width: 350px;">
            <CardHeader Class="text-center">
                <h4>Logowanie</h4>
            </CardHeader>
            <CardBody>
                <Field>
                    <FieldLabel>Login:</FieldLabel>
                    <TextEdit @bind-Text="viewModel.Login.Username" Placeholder="Wprowadź nazwę użytkownika" />
                </Field>
                <Field>
                    <FieldLabel>Hasło:</FieldLabel>
                    <TextEdit @bind-Text="viewModel.Login.Password" Placeholder="Wprowadź hasło" />
                </Field>
                <Field>
                    <Link To="/password/recovery">
                    Zapomniałem hasła
                    </Link>
                </Field>
                <Button Color="Color.Primary" Class="btn-block mt-4" Clicked="@(async () => await viewModel.NavigateToHome())">Zaloguj</Button>
            </CardBody>
        </Card>   
        <Card Style="width: 350px;">
            <CardHeader Class="text-center">
                <h4>Nie posiadasz konta?</h4>
            </CardHeader>
            <CardBody>
                <Field Class="text-center">
                    <FieldLabel>Załóż nowe konto w 3 minuty.</FieldLabel>
                </Field>
                <Button Color="Color.Primary" Class="btn-block mt-4" Clicked="@(async () => await viewModel.NavigateToRegistration())">Zarejestruj się</Button>
            </CardBody>
        </Card>
    </CardDeck>
</Container>