@page "/password/recovery"
@using Blazorise.FluentValidation;
@using CarDealerAppClient.ViewModels.Login;
@inject IPasswordRecoveryViewModel viewModel


<h1>
    Odzyskiwanie hasła
</h1>

<Text>
    Aby przypomnieć hasło wpisz adres email, na który zostanie wysłana wiadomość do zmiany hasła.
</Text>

<Validations @ref="viewModel.FluentValidations" Mode="ValidationMode.Manual" Model="viewModel.PasswordRecovery" HandlerType="typeof(FluentValidationHandler)">
    <Validation>

        <TextEdit Width="Width.Is50" Placeholder="Wpisz adres email" @bind-Text="viewModel.PasswordRecovery.Email">
            <Feedback>
                <ValidationError />
            </Feedback>
        </TextEdit>
    </Validation>
</Validations>




<Button Color="Color.Primary" Class="btn-block mt-4" Width="Width.Is50" Clicked="@(async () => await viewModel.SendPasswordRecovery())">Przypomnij hasło</Button>

